
manifest{

    mainScript = 'call_peaks_analysis_pipeline.nf'


}

conda {

    enabled = true
}


profiles {


    peak_calling_analysis {

        params {
            plot_idr = 0.05 // the default is 0.05 to report in the png plots which peaks passed this threshold
            return_idr = 1  // the default is all peaks will be returned even if the report plots the ones that pass a certain number. 1 as default here will give back all peaks like idr has set
        }


    

        process {

            executor = 'slurm'
            clusterOptions = '-A risc_hotel_bank'
            queue = 'hpc_a10_a '

            withLabel: normal_big_memory {
                memory = 200.GB
                time = '5.h'
                cpus = 5
            }

            withLabel: normal_big_resources {
                memory = 80.GB
                time = '5.h'
                cpus = 20

            }
            withLabel: normal_small_resources {
                memory = 20.GB
                time = '1.h'
                cpus = 15

            }

            withLabel: super_small_resources {
                memory = 20.GB
                time = '1.h'
                cpus = 2
            }
            withLabel: super_big_resources {
                memory = 200.GB
                time = '5.h'
                cpus = 20

            }


        }



    }
}