
manifest{

    mainScript = 'call_peaks_analysis_pipeline.nf'


}

conda {

    enabled = true
}


profiles {


    peak_calling_analysis {


    

        process {

            executor = 'slurm'
            clusterOptions = '-A risc_hotel_bank'
            queue = 'hpc_a10_a'

            withLabel: normal_big_memory {
                memory = 200.GB
                time = '5.h'
                cpus = 5
            }

            withLabel: normal_big_resources {
                memory = 80.GB
                time = '5.h'
                cpus = 20

            }
            withLabel: normal_small_resources {
                memory = 20.GB
                time = '1.h'
                cpus = 15

            }

            withLabel: super_small_resources {
                memory = 20.GB
                time = '1.h'
                cpus = 2
            }


        }



    }
}